serviceWorker.ts
next-env.d.ts
config/
scripts/
build/
/.next/
/out/
node_modules
jest.config.js
next.config.js
coverage/
__mocks__/
.vscode
**/*.yml
eslint-report.json
package.json
package-lock.json
.prettierrc.json
public/
README.md
CHANGELOG.md
.babelrc
.eslintrc
